# Core scientific library requirements
# These are also listed in pyproject.toml,
# but this file is useful for CI/CD and Docker.
numpy
biopython
MDAnalysis
scikit-learn
deeptime # For VAMP analysis
torch
pyqubo
dwave-neal
dadapy
pyyaml
redis
rq